name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1. Получение кода
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Установка Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # 3. Установка зависимостей
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4. Запуск тестов + отчёты
      - name: Run tests
        run: |
          PYTHONPATH=. python -m pytest \
          --junitxml=report.xml \
          --cov=src \
          --cov-report=xml

      # 5. Сохранение артефактов
      - name: Upload test reports
        uses: actions/upload-artifact@v3
        w
